
<section class="band-profile-wrapper">
  <div class="band-profile">
    <div class="band-picture-section">
      <img class="band-picture" src="/images/bioimage.jpg" alt="Portugal. The Man" />
    </div>
    <div class="band-bio">
      <h2>{{mainBio}}</h2>
    </div>
  </div>
</section>

<section class="ind-profile-wrapper">
  <div class="profile-container"ng-repeat="member in members">
    <div class="photo-container">
      <a ng-click="showProfile = ! showProfile">
        <img id="slider"class="profile-pics" ng-src="{{member.picture}}" alt="{{member.name}}"/>
      </a>
    </div>
    <div ng-show="showProfile"class="individual-bio-text">
      <h1>{{member.name}}</h1> <br>
      <h2>Position:  {{member.position}} </h2><br>
      <h2>Born in {{member.birthPlace}}</h2>
    </div>
  </div>
</section>
<script src="./js/jq.js" charset="utf-8"></script>
